.login {
  width: 400px;
  height: 565px;
  margin: 0 auto;
  padding: 50px 50px 30px;
  background: #FFF;
  box-shadow:  0 2px 12px 0 rgba(0, 0, 0, 0.1);
  // box-shadow: 0 0 8px rgb(0 0 0 / 10%);

  .nav {
    display: flex;
    font-weight: 400;
    box-sizing: border-box;
    justify-content: center;
  }

  .nav > div {
    padding: 10px;
    font-size: 18px;
    color: #969696;
    cursor: pointer;
  }

  .nav > div:hover {
    border-bottom: 2px solid #ea6f5a;
  }

  .nav > b {
    padding: 10px;
    font-size: 18px;
    color: #969696;
  }

  .nav .active {
    font-weight: 700;
    color: #ea6f5a;
    border-bottom: 2px solid #ea6f5a;
  }
}